@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.burgerIcon {
  float: left;
  width: 50px;
  border-radius: 30px;
}

/* The side navigation menu code start */
.sidenav {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidenav */
}

/* Page content */
.main {
  margin-left: 200px;
  /* Same as the width of the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* The side navigation menu code end */

/* Text CSS */

.limelinediv {
  background-image: 
  url("https://www.transitchicago.com/assets/1/6/pageheader_ctatrademarks.png");
  height: 350px;
  width: auto;
}

.portfoliointro {
  background-color: #b3ffad;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin: 2.5% 0 2.5% 0;
  width: 80%;
  border: 6px solid white;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.conquerors {
  background-color: #5d68ff;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin: 25px 50px 75px 40px;
  min-height: 150px;
  border: 6px solid white;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  display: block;
  width: 80%;
}

.csfocuses {
  background-color: #979efb;
  margin: 25px 50px 75px 40px;
  min-height: 150px;
  border: 6px solid white;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
  font-family: "Anta", sans-serif;
  text-align: left;
  display: block;
  width: 80%;
  border-radius: 50px;
}

/*.csfocuses h3 {
  margin-left: 120px;
  border: 5px solid blue;
  display: block;
  color: white;
}*/

.csfocuses h3 {
  margin-left: 120px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 2em;
}

.projecttitle {
  margin-left: 120px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 2em;

  text-decoration: none;
}

.projecttitle:hover {
  color: yellow;
}

/*.csfocuses h5 {
  margin-left: 120px;
  border: 5px solid rgb(35, 242, 35);
  border-radius: 10px;
  background-color: #ff10d7;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
}*/

.projectmethod {
  margin-left: 120px;
  border: 5px solid rgb(225, 249, 225);
  border-radius: 10px;
  margin-left: 120px;
  display: inline-block;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
}

.clangpythontiny {
  background-color: #fff310;
}

.htmltiny {
  background-color: #2d29ff;
}

.csstiny {
  background-color: #88f843;
}

.jstiny {
  background-color: #ef118f;
}

.canvafigmatiny {
  background-color: #29cdff;
}


.csfocuses p {
  margin-left: 120px;
  border: 5px solid blue;
  display: block;
  color: white;
}

.csfocuses img {
  /* Styles for all images inside the div (and potentially nested divs) */
  width: 100px;
  display: block;
  height: auto;
  border: 1px solid blue;
  position: absolute;
}


.decorpicture {
  width: 500px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.onepiecepicture {
  width: 100%;
  height: 60%;
  float: left;
}

.zenitsupicture {
  width: 100%;
  height: 75%;
  display: block;
  float: inherit;
}

.rightsideoppicture {
  width: 55%;
  height: 20%;
  float: right;
}

#hakivideo {
  display: block;
  width: 100px;
    height: 50px;
    margin: 0 auto;
    background-color: #777;
}


#first-fixed-wrapper {
  width: 1000px;
  margin: 0 auto;
}

#second-fixed-wrapper {
  width: 1000px;
  margin: 0 auto;
}

#fixed-main {
  float: left;
  width: 550px;
  margin: 0 20px;
}

#fixed-extras {
  float: left;
  width: 40%;
  margin: 0 1% 0 0;
}

#fixed-header {
  padding: 15px;
}

#fluid-links {
  float: left;
  width: 22.5%;
  margin: 0 0 0 2.5%; 
}

#fluid-main {
  float: left;
  width: 45%;
  margin: 0 2.5%;
}

#fluid-news {
  float: left;
  width: 22.5%;
  margin: 0 2.5% 0 0;
}

#fluid-header {
  padding: 15px;
}

/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
  height: 100%;
}